/* MyCourses.css */

.modal-content {
    background-color: #333;
    color: white;
  }
  
  .modal-header {
    border-bottom: 1px solid white;
  }
  
  .btn-group button {
    margin-bottom: 10px; /* Add margin-bottom to create space between buttons */
    display: block;
    width: 100%;
    padding: 12px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn-primary {
    background-color: #4caf50;
    color: white;
  }
  
  .btn-primary:hover {
    background-color: #45a049;
  }
  
  .btn-secondary {
    background-color: #f44336;
    color: white;
  }
  
  .btn-secondary:hover {
    background-color: #d32f2f;
  }
  