/* Add this CSS to your stylesheet */
.search-bar {
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
}

.search-input {
  border: none;
  outline: none;
  box-shadow: none;
}

.search-icon {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-icon:hover {
  background-color: #0056b3;
}
/* dashboard.css */


  .card1:hover {
    transform: scale(1.35);  
  }
  .star-rating {
    font-size: 24px; /* Adjust the size of the stars as needed */
  }
  
  .star-rating::before {
    content: '\2605'; /* Unicode character for an empty star (☆) */
    color: #ccc; /* Color of empty stars */
  }
  
  .star-rating::after {
    content: '\2605'; /* Unicode character for a filled star (★) */
    color: #4CAF50; /* Green color for filled stars */
  }
  
